html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

main {
    width: 100%;
    height: 100%;
}

section {
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter-container {
    width: 200px;
    height: 200px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #000;
    border-radius: 10px;
}

.buttons-box {
    width: 80%;
    
    display: flex;
    justify-content: space-between;
}